@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Michael's Website";
}




<h1 id="textcenter">Michael Goltra</h1>
<!--image-->
<img src="images/D63A841D-954B-4960-BEEE-6A41E0C7A16C.JPG" width="400" height="500" class="imgcenter" />
<br />
<p id="textcenter">
    <!--snippet about 413-->
    I am looking forward to becoming a more knowledgable and dynamic programmer through the IS 413 class. I can't wait to learn more about C# and ASP.NET!
</p>
<p>
    <!-- job list-->
    &nbspThe top three jobs I am most interested in pursuing after graduation:
</p>
<ul>
    <li>Cybersecurity Lawyer</li>
    <li>Data Scientist</li>
    <li>Ethical Hacker</li>
</ul>






